{% extends 'marketplace/base.html' %}
{% load bootstrap3 %}
{% block content %}

<form class="form" action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "lock" %} Log In
        </button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{{ next }}" />
</form>
<p>Don't have an account? <a href="{% url 'signup' %}">Sign up!</a></p>
<p>Forgotten you password? Email <a href="mailto:help@sasview.org">help@sasview.org</a> and one of the admins will reset it for you.</p>

{% endblock content %}
