{% extends 'marketplace/base.html' %}
{% load bootstrap3 %}

{% block content %}
<h2>Account:</h2>
<table class="table">
    <tr>
        <td>Name:</td>
        <td>{{ user.first_name }} {{ user.last_name }}</td>
    </tr>
    <tr>
        <td>Username:</td>
        <td>{{ user.username }}</td>
    </tr>
    {% if user == request.user %}
    <tr>
        <td>Email:</td>
        <td>{{ user.email }}</td>
    </tr>
    {% endif %}
</table>
{% if user == request.user %}
<p>
    <a class="btn btn-primary" href="{% url 'password_change' %}">Change Password</a>
</p>
{% endif %}

{% if models %}
    {% if user == request.user %}
    <h2>Your Models</h2>
    {% else %}
    <h2>Models Uploaded by {{ user.username }}:</h2>
    {% endif %}


    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            {% if user == request.user %}
            <th>Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for model in models %}
            <tr>
                <td class="model-name"><a href="{{ model.get_absolute_url }}">{{ model.name }}</a></td>
                <td id="model-desc">{{ model.description|truncatechars:250 }}</td>
                {% if user == request.user %}
                <td style="min-width: 330px;">
                    <a href="{% url 'edit' model_id=model.id %}" class="btn btn-primary btn-edit">{% bootstrap_icon 'pencil' %} Edit Details</a>
                    <a href="{% url 'edit_files' model_id=model.id %}" class="btn btn-primary btn-edit">{% bootstrap_icon 'file' %} Edit Files</a>
                    <button type="button" class="btn btn-danger delete-btn btn-edit" id="{{ model.id }}" data-toggle="modal" data-target="#delModal">
                      {% bootstrap_icon 'remove-circle' %} Delete
                    </button>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <div class="pagination-container">
    <div>
        {% if models.has_previous %}
            <a href="?page={{ models.previous_page_number }}" class="btn btn-default">{% bootstrap_icon 'menu-left' %}</a>
        {% endif %}
        <span>Page {{ models.number }} of {{ models.paginator.num_pages }}</span>
        {% if models.has_next %}
            <a href="?page={{ models.next_page_number }}" class="btn btn-default">{% bootstrap_icon 'menu-right' %}</a>
        {% endif %}
    </div>
    </div>

{% if user == request.user %}

<!-- Modal -->
<div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="delModalLabel">Delete Model</h4>
      </div>
      <div class="modal-body" id="del-modal-content">
        Are you sure you want to delete this model?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a type="button" class="btn btn-danger" href="#" id="modal-del-btn">Delete</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('.delete-btn').click(function(event) {
        var modelData = {
        {% for model in models %}
            '{{ model.id }}': {name: '{{ model.name }}', url: '{% url 'delete' model_id=model.id %}'},
        {% endfor %}
        };
        console.log(event.currentTarget);
        modelId = $(event.currentTarget).attr('id');
        modelName = modelData[modelId].name;
        deleteUrl = modelData[modelId].url;
        $('#del-modal-content').text("Are you sure you want to delete " + modelName + "?");
        $('#modal-del-btn').attr('href', deleteUrl);
    });
</script>

{% endif %}
{% endif %}

{% endblock content %}
