{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SasView Model Marketplace</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'marketplace/style.css' %}" charset="utf-8" />
    <script src="{% static 'marketplace/jquery-2.2.4.min.js' %}" charset="utf-8"></script>
    {% bootstrap_javascript %}
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">SasView Marketplace</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'create' %}">Upload a model</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                {% bootstrap_icon "user" %} {{ request.user.username }}<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'profile' %}">My Profile</a></li>
                                {% if request.user.is_superuser %}
                                    <li><a href="{% url 'admin:index' %}">Admin</a></li>
                                {% endif %}
                                <li><a href="{% url 'logout' %}">Log Out</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{% url 'login' %}">{% bootstrap_icon "log-in" %} Log In </a></li>
                    {% endif %}


                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
    <div class="container">
        {% if messages %}
            {% for msg in messages %}
                {% bootstrap_alert msg alert_type=msg.tags %}
            {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock content %}
    </div>
</body>
{% block after %}
{% endblock after %}
</html>
