{% extends 'marketplace/base.html' %}
{% load bootstrap3 %}

{% block head %}
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/javascript">
    window.MathJax = ({
        elements: ["model-desc"],
        tex2jax: {
            // Dislay all LaTeX as inline
            inlineMath: [ ['$', '$'], [ "\\(", "\\)" ], [ "\\[", "\\]" ], [ "$$", "$$" ] ],
            processEscapes: true
        }
    });
</script>
{% endblock head %}

{% block content %}
{% if category_name %}
    <h1>{{ category_name }}</h1>
{% else %}
    <h1>Browse Models</h1>
{% endif %}

{% if models %}

<table class="table search-results">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Upload Date</th>
        <th>Author</th>
    </tr>
    </thead>
    <tbody>
    {% for model in models %}
    <tr>
        <td class="model-name"><a href="{% url 'detail' model.id %}">{{ model.name }}</a></td>
        <td>{{ model.description_truncated }}</td>
        <td>{{ model.category|default_if_none:"None" }}</td>
        <td class="model-date">{{ model.upload_date|date:"d M Y" }}</td>
        <td>{{ model.owner.username }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>
    No models in this category.
</p>
{% endif %}

<div class="pagination-container">
<div>
    {% if models.has_previous %}
        <a href="?page={{ models.previous_page_number }}" class="btn btn-default">{% bootstrap_icon 'menu-left' %}</a>
    {% endif %}
    <span>Page {{ models.number }} of {{ models.paginator.num_pages }}</span>
    {% if models.has_next %}
        <a href="?page={{ models.next_page_number }}" class="btn btn-default">{% bootstrap_icon 'menu-right' %}</a>
    {% endif %}
</div>
</div>


{% endblock content %}
