{% extends 'marketplace/base.html' %}
{% load bootstrap3 %}

{% block head %}
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/javascript">
    window.MathJax = ({
        elements: ["model-desc"],
        tex2jax: {
            // Dislay all LaTeX as inline
            inlineMath: [ ['$', '$'], [ "\\(", "\\)" ], [ "\\[", "\\]" ], [ "$$", "$$" ] ],
            processEscapes: true
        }
    });
</script>
{% endblock head %}

{% block content %}

<div class="row">
<!-- Start of explanatory text -->
<div class="jumbotron col-md-10">
    <div class="container">
        <h2>Welcome to the SasView Marketplace!</h2>
        The Marketplace allows members of the SAS Community to contribute plug-in
        fitting models for the popular <strong><a href="http://www.sasview.org/">SasView</a></strong>
        data analysis program for all to use. <span class="text-danger">(Please note: these plug-in models
        require SasView version 4.0 or later).</span><br/><br/>

        Contributed models should be written in Python (compatibility with python 2.7.x is
        currently required) or, if computational speed is an issue, in a
        combination of Python and C. You only need to upload the .py/.c source
        code files to the Marketplace!<br/><br/>

        Instructions on how to code a new plug-in model are available <a href="https://www.sasview.org/docs/user/qtgui/Perspectives/Fitting/plugin.html">here</a>.

        It may also be helpful to examine the library models in the
        \sasmodels-data\models sub-folder of your SasView installation directory.<br/><br/>

        You also have the option to upload a SasView text file of the scattering
        function data computed by your model. If you do this a graph of the
        scattering function will appear under the Marketplace entry for your model.<br/><br/>


        <em>Disclaimer: Models are expected to be contributed to the Marketplace
        in good faith and with the best intentions, and come without any warranty
        as to their correctness and suitability for purpose. Neither the author
        of the model or the SasView Development Team will be held liable for any
        loss or damage arising from conclusions drawn from the use of a model
        contributed to the Marketplace. This includes models that are marked as
        'verified' by the SasView Development Team.</em>
    </div>
</div>
<!-- End of explanatory text -->
<div id="category-nav" class="col-md-2">
    <h3>Categories:</h3>
    <ul class="nav nav-pills nav-stacked">
        {% for category in categories %}
            <li role="presentation"><a href="{% url 'view_category' slug=category.slug %}">{{ category.name }}</a></li>
        {% endfor %}
        <li role="presentation"><a href="{% url 'view_category' %}">All Models</a></li>
    </ul>
</div>
</div>

{% endblock content %}
