{% extends 'marketplace/base.html' %}
{% load bootstrap3 %}

{% block head %}
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/javascript">
    window.MathJax = ({
        elements: ["model-desc"],
        tex2jax: {
            // Dislay all LaTeX as inline
            inlineMath: [ ['$', '$'], [ "\\(", "\\)" ], [ "\\[", "\\]" ], [ "$$", "$$" ] ],
            processEscapes: true
        }
    });
</script>
{% endblock head %}

{% block content %}

<!-- Start of explanatory text -->
<div class="jumbotron">
    <div class="container">
        <h2>Welcome to the SasView Marketplace!</h2>
        The Marketplace allows members of the SAS Community to contribute plug-in fitting models for the popular
        <a href="http://www.sasview.org/">SasView</a> data analysis program for all to use. (Please note you must be using SasView version 4.0 or later).<br/><br/>
        Contributed models should be written in Python (please note only version 2.7.x is currently supported) or, if computational speed is an issue, in a combination of Python and C. You only need to upload the .py/.c source code to the Marketplace!<br/>
        Instructions on how to code a new plug-in model are being developed, but in the meantime some guidance is available <a href="http://trac.sasview.org/wiki/ModelConvInst">here</a>. It may also be helpful to examine the library models in the \sasmodels-data\models sub-folder of your SasView installation directory.<br/>
        You also have the option to upload a SasView ASCII text file of the scattering function computed by your model. If you do this a graph of the scattering function will appear under the Marketplace entry for your model.<br/><br/>
        <i>Models are expected to be contributed to the Marketplace in good faith and with the best intentions, but come without any warranty as to their correctness and suitability. Neither the author of the model or the SasView Development Team will be held liable for any loss or damage arising from conclusions drawn from the use of a model contributed to the Marketplace. This includes models that are marked as 'verified' by the SasView Development Team.</i>
    </div>
</div>
<!-- End of explanatory text -->

<h3>Browse Models by Category:</h3>
<ul style="font-size: 20px;">
    {% for category in categories %}
        <li><a href="{% url 'view_category' slug=category.slug %}">{{ category.name }}</a></li>
    {% endfor %}
    <li><a href="{% url 'view_category' %}">All Models</a></li>
</ul>


<div class="pagination-container">
<div>
    {% if categories.has_previous %}
        <a href="?page={{ categories.previous_page_number }}" class="btn btn-default">{% bootstrap_icon 'menu-left' %}</a>
    {% endif %}
    <span>Page {{ categories.number }} of {{ categories.paginator.num_pages }}</span>
    {% if categories.has_next %}
        <a href="?page={{ categories.next_page_number }}" class="btn btn-default">{% bootstrap_icon 'menu-right' %}</a>
    {% endif %}
</div>
</div>


{% endblock content %}
