{% extends 'marketplace/base.html' %}
{% load attachments_tags %}
{% load debug_tags %}

{% block head %}
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/javascript">
    window.MathJax = ({
        elements: ["model-desc"]
    });
</script>
{% endblock head %}

{% block content %}
{% get_attachments_for model as model_files %}
<h1>{{ model.name }}</h1>

<table class="table">
    <tr>
        <td><b>Description</b></td>
        <td id="model-desc">{{ model.description }}</td>
    </tr>
    <tr>
        <td><b>Created By</b></td>
        <td><a href="{% url 'profile' user_id=model.owner.id %}">{{ model.owner.username }}</a></td>
    </tr>
    <tr>
        <td><b>Uploaded</b></td>
        <td>{{ model.upload_date }}</td>
    </tr>
    {% if model_files %}
    <tr>
        <td><b>Files</b></td>
        <td>
            {% for file in model_files %}
                <a href="/{{ file.attachment_file.url }}">{{ file.filename }}</a><br />
            {% endfor %}
        <td>
    </tr>
    {% endif %}
</table>

{% if request.user == model.owner %}
<a href="{% url 'edit' model_id=model.id %}" class="btn btn-primary">Edit</a>
<button type="button" class="btn btn-danger delete-btn" data-toggle="modal" data-target="#delModal">
  Delete
</button>

<!-- Modal -->
<div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="delModalLabel">Delete Model</h4>
      </div>
      <div class="modal-body" id="del-modal-content">
        Are you sure you want to delete this model?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a type="button" class="btn btn-danger" href="#" id="modal-del-btn">Delete</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('.delete-btn').click(function(event) {
        modelName = "{{ model.name }}";
        deleteUrl = "{% url 'delete' model_id=model.id %}";
        $('#del-modal-content').text("Are you sure you want to delete " + modelName + "?");
        $('#modal-del-btn').attr('href', deleteUrl);
    });
</script>
{% endif %}

{% endblock content %}
