{% extends 'marketplace/base.html' %}

{% block head %}
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/javascript">
    window.MathJax = ({
        elements: ["model-desc"]
    });
</script>
{% endblock head %}

{% block content %}
<h1>{{ model.name }}</h1>

<table class="table">
    <tr>
        <td><b>Description</b></td>
        <td id="model-desc">{{ model.description }}</td>
    </tr>
    <tr>
        <td><b>Created By</b></td>
        <td><a href="{% url 'profile' user_id=model.owner.id %}">{{ model.owner.username }}</a></td>
    </tr>
    <tr>
        <td><b>Uploaded</b></td>
        <td>{{ model.upload_date }}</td>
    </tr>
</table>

{% endblock content %}
