{% extends 'marketplace/base.html' %}
{% load bootstrap3 %}

{% block title %}{{ model.name }} | {% endblock title %}

{% block head %}
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/javascript">
    $(function() {
        $('[data-toggle="tooltip"]').tooltip()
    })
    window.MathJax = ({
        elements: ["model-desc"],
        tex2jax: {
            inlineMath: [ ['$', '$'], [ "\\(", "\\)" ] ],
            processEscapes: true
        },
        CommonHTML: { linebreaks: { automatic: true } },
        "HTML-CSS": { linebreaks: { automatic: true } },
        SVG: { linebreaks: { automatic: true } }
    });
</script>
{% if model.example_data_json != "[]" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
{% endif %}

{% endblock head %}

{% block content %}

<ol class="breadcrumb">
    <li><a href="{% url 'index' %}">Categories</a></li>
    {% if model.category %}
        <li><a href="{% url 'view_category' slug=model.category.slug %}">{{ model.category.name }}</a></li>
    {% else %}
    <li><a href="{% url 'view_category' %}">All Models</a></li>
    {% endif %}
    <li><a href="{% url 'detail' model_id=model.id %}">{{ model.name }}</a></li>
</ol>

<h1>{{ model.name }}</h1>

<h2>Description:</h2>
<div id="model-desc" class="container">
    <p>
        {{ model.description|linebreaks }}
    </p>
    {% if model.example_data_x and model.example_data_x %}
        <h2>Example Data:</h2>
        <canvas class="center-block" id="example-graph" width="500" height="500" style="max-width: 600px;"></canvas>
        <script type="text/javascript">
            Chart.defaults.global.legend.display = false;
            var ctx = $("#example-graph");
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [{
                        label: '{{ model.name }}',
                        fill: false,
                        borderColor: "rgba(0,0,255,1)",
                        data: {{ model.example_data_json }},
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            type: 'logarithmic',
                            position: 'bottom',
                            scaleLabel: { display: true, labelString: 'log(Q) [A^-1]' },
                            gridLines: { display: false }
                        }],
                        yAxes: [{
                            type: 'logarithmic',
                            scaleLabel: { display: true, labelString: 'log(I) [cm^-1]' },
                            gridLines: { display: false }
                        }]
                    },
                    responsive: true,
                }

            });
        </script>
    {% endif %}

</div>


<h2>Details:</h2>
<table class="table">
    <tr>
        <td><strong>Created By</strong></td>
        <td><a href="{% url 'profile' user_id=model.owner.id %}">{{ model.owner.username }}</a></td>
    </tr>
    <tr>
        <td><strong>Uploaded</strong></td>
        <td>{{ model.upload_date }}</td>
    </tr>
    <tr>
        <td><strong>Category</strong></td>
        <td>{{ model.category|default_if_none:"None" }}</td>
    </tr>
    <tr>
        <td><strong>Score</strong></td>
        <td>{{ model.score }}
        {% if request.user.is_authenticated and request.user != model.owner %}
        <div class="pull-right">
            <a href="{% url 'vote' model_id=model.id %}?vote=up" class="btn btn-success btn-xs">{% bootstrap_icon 'thumbs-up' %} Upvote</a>
            <a href="{% url 'vote' model_id=model.id %}?vote=down" class="btn btn-danger btn-xs">{% bootstrap_icon 'thumbs-down' %} Downvote</a>
        </div>
        {% endif %}
        </td>
    </tr>
    <tr>
        <td><strong>Verified</strong></td>
        <td>
            {% if model.verified %}
                <span class="text-success">{% bootstrap_icon 'ok' %} Verified by {{ model.verified_by.first_name }} {{ model.verified_by.last_name }} on {{ model.verfied_date|date:"d M Y" }}</span>
            {% else %}
                <span class="text-danger">{% bootstrap_icon 'remove' %} This model has not been verified by a member of the SasView team</span>
            {% endif %}
        </td>
    </tr>

    <tr>
        <td><strong>In Library</strong></td>
        <td>
            {% if model.in_library %}
                This model is included in the SasView library by default
            {% else %}
                This model is not currently included in the SasView library. You must download the files and install it yourself.
            {% endif %}
        </td>
    </tr>

    <tr>
        <td><strong>Files</strong></td>
        <td>
            {% if files %}
            {% for f in files %}
                <a href="{% url 'show_file' file_id=f.id %}">{{ f.name }}</a><br />
            {% endfor %}

            {% else %}
            No files uploaded yet.
            {% endif %}
        </td>
    </tr>
</table>

{% if request.user == model.owner %}
<div>
<a href="{% url 'edit' model_id=model.id %}" class="btn btn-primary btn-edit">{% bootstrap_icon "pencil" %} Edit Details</a>
<a href="{% url 'edit_files' model_id=model.id %}" class="btn btn-primary btn-edit">{% bootstrap_icon "file" %} Edit Files</a>
<button type="button" class="btn btn-danger delete-btn btn-edit" data-toggle="modal" data-target="#delModal">
  {% bootstrap_icon 'remove-circle' %} Delete
</button>
</div>
<!-- Modal -->
<div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="delModalLabel">Delete Model</h4>
      </div>
      <div class="modal-body" id="del-modal-content">
        Are you sure you want to delete this model?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a type="button" class="btn btn-danger" href="#" id="modal-del-btn">Delete</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('.delete-btn').click(function(event) {
        modelName = "{{ model.name }}";
        deleteUrl = "{% url 'delete' model_id=model.id %}";
        $('#del-modal-content').text("Are you sure you want to delete " + modelName + "?");
        $('#modal-del-btn').attr('href', deleteUrl);
    });
</script>
{% endif %}

{% if request.user.is_staff %}
<div>
    {% if model.verified == False %}
        <a href="{% url 'verify' model_id=model.id %}" class="btn btn-success">{% bootstrap_icon 'ok' %} Verify</a>
    {% else %}
        <a href="{% url 'verify' model_id=model.id %}" class="btn btn-danger">{% bootstrap_icon 'remove' %} Un-Verify</a>
    {% endif %}
    {% if model.in_library == False %}
        <a href="{% url 'toggle_in_library' model_id=model.id %}" class="btn btn-success">{% bootstrap_icon 'book' %} Add to Library</a>
    {% else %}
        <a href="{% url 'toggle_in_library' model_id=model.id %}" class="btn btn-danger">{% bootstrap_icon 'book' %} Remove from Library</a>
    {% endif %}

</div>
{% endif %}

<h3>Comments:</h3>
{% if comments %}
    {% for comment in comments %}
        <div class="comment well">
            <div class="detail-container">
                <div class="user">
                    {{ comment.user.username }}:
                </div>
                <div class="time">
                    {{ comment.time|date:"D d M Y" }} at {{ comment.time|date:"H:i" }}
                </div>
            </div>
            <div class="content">
                {{ comment.content }}
            </div>
            {% if comment.user == request.user %}
            <div class="actions">
                    <a class="btn btn-danger" data-toggle="tooltip" data-placement="right" title="Delete comment" href="{% url 'delete_comment' comment_id=comment.id %}">{% bootstrap_icon 'remove' %}</a>
            </div>
            {% endif %}
        </div>
    {% endfor %}

{% else %}
    <p>
        No comments yet.
    </p>
{% endif %}

{% if request.user.is_authenticated %}
    <form class="form" action="{% url 'detail' model_id=model.id %}" method="post" id="comment-form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">{% bootstrap_icon 'comment' %} Post Comment</button>
        {% endbuttons %}
    </form>
{% else %}
    <p>
        Please log in to add a comment.
    </p>
{% endif %}



{% endblock content %}
