{% extends 'marketplace/base.html' %}
{% load bootstrap3 %}

{% block head %}
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/javascript">
    window.MathJax = ({
        elements: ["model-desc"],
        tex2jax: {
            // Dislay all LaTeX as inline
            inlineMath: [ ['$', '$'], [ "\\(", "\\)" ], [ "\\[", "\\]" ], [ "$$", "$$" ] ],
            processEscapes: true
        }
    });
</script>
{% endblock head %}

{% block content %}
<h1>Search Models</h1>

{% if results and query %}
<p>
    Your search for {{ query }} returned the following results:
</p>

<table class="table search-results">
    {% for model in results %}
    <tr>
        <td class="model-name"><a href="{% url 'detail' model.id %}">{{ model.name }}</a></td>
        <td id="model-desc">{{ model.description|truncatechars:200 }}</td>
    </tr>
    {% endfor %}
</table>
{% elif query %}
<p>
    Your search for "{{ query }}" returned no results.
</p>
{% else %}
<p>
    Please enter a search query above.
</p>
{% endif %}

<div class="pagination-container">
<div>
    {% if results.has_previous %}
        <a href="?query={{ query|iriencode }}&page={{ results.previous_page_number }}" class="btn btn-default">{% bootstrap_icon 'menu-left' %}</a>
    {% endif %}
    <span>Page {{ results.number }} of {{ results.paginator.num_pages }}</span>
    {% if results.has_next %}
        <a href="?query={{ query|iriencode }}&page={{ results.next_page_number }}" class="btn btn-default">{% bootstrap_icon 'menu-right' %}</a>
    {% endif %}
</div>
</div>


{% endblock content %}
