{% extends 'marketplace/base.html' %}
{% load bootstrap3 %}

{% block head %}
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/javascript">
    window.MathJax = ({
        elements: ["model-desc"],
        tex2jax: {
            // Dislay all LaTeX as inline
            inlineMath: [ ['$', '$'], [ "\\(", "\\)" ], [ "\\[", "\\]" ], [ "$$", "$$" ] ],
            processEscapes: true
        }
    });
</script>
{% endblock head %}

{% block content %}
<h1>Search Models</h1>

{% if query %}

<form id="verified-form" action="{% url 'search' %}" method="get" style="float: right;">
    <input type="hidden" name="query" value="{{ query }}">
    Show:
    <select name="verified">
        <option value="" {% if not verified %}selected="selected"{% endif %}>All Models</option>
        <option value="1" {% if verified == "1" %}selected="selected"{% endif %}>Verified Models</option>
        <option value="0" {% if verified == "0" %}selected="selected"{% endif %}>Unverified Models</option>
    </select>
</form>

<script type="text/javascript">
    $('#verified-form select').change(function(event) {
        $('#verified-form').submit();
    });
</script>
{% endif %}


{% if results and query %}
<p>
    Your search for {{ query }} returned the following results:
</p>

<table class="table search-results">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Upload Date</th>
        <th>Author</th>
        <th>Verified</th>
    </tr>
    </thead>
    <tbody>
    {% for model in results %}
    <tr>
        <td class="model-name"><a href="{% url 'detail' model.id %}">{{ model.name }}</a></td>
        <td id="model-desc">{{ model.description_truncated }}</td>
        <td>{{ model.category|default_if_none:"none" }}</td>
        <td class="model-date">{{ model.upload_date|date:"d M Y" }}</td>
        <td><a href="{% url 'profile' user_id=model.owner.id %}">{{ model.owner.username }}</a></td>
        <td align="center">
            {% if model.verified %}
                <span class="verified">{% bootstrap_icon 'ok' %}</span>
            {% else %}
                <span class="unverified">{% bootstrap_icon 'remove' %}</span>
            {% endif %}

        </td>
    </tr>
    </tbody>
    {% endfor %}
</table>
{% elif query %}
<p>
    Your search for "{{ query }}" returned no results.
</p>
{% else %}
<p>
    Please enter a search query above.
</p>
{% endif %}

<div class="pagination-container">
<div>
    {% if results.has_previous %}
        <a href="?query={{ query|iriencode }}&page={{ results.previous_page_number }}" class="btn btn-default">{% bootstrap_icon 'menu-left' %}</a>
    {% endif %}
    <span>Page {{ results.number }} of {{ results.paginator.num_pages }}</span>
    {% if results.has_next %}
        <a href="?query={{ query|iriencode }}&page={{ results.next_page_number }}" class="btn btn-default">{% bootstrap_icon 'menu-right' %}</a>
    {% endif %}
</div>
</div>


{% endblock content %}
