{% extends 'marketplace/base.html' %}
{% load static %}

{% block title %}View File | {% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'marketplace/tomorrow-night.css' %}">
<script src="{% static 'marketplace/highlight.pack.js' %}"></script>
<script type="text/javascript">
    hljs.initHighlightingOnLoad();
</script>
{% endblock head %}

{% block content %}

<ol class="breadcrumb">
    <li><a href="{% url 'index' %}">Categories</a></li>
    {% if file_object.model.category %}
        <li><a href="{% url 'view_category' slug=file_object.model.category.slug %}">{{ file_object.model.category.name }}</a></li>
    {% else %}
    <li><a href="{% url 'view_category' %}">All Models</a></li>
    {% endif %}
    <li><a href="{% url 'detail' model_id=file_object.model.id %}">{{ file_object.model.name }}</a></li>
    <li><a href="{% url 'show_file' file_id=file_object.id %}">{{ file_object.name }}</a></li>
</ol>

<h2>{{ file_object.model.name }} - {{ file_object.name }}</h1>

{% if file_content %}
<pre>
    <code>{{ file_content }}</code>
</pre>
{% else %}
<p>
    File preview not available.
</p>
{% endif %}

<a href="{% url 'detail' model_id=file_object.model.id %}" class="btn btn-default">Back to Model</a>
<a class="btn btn-primary" href="{{ file_object.model_file.url }}" target="_blank">Download</a>

{% endblock content %}
