{% extends 'marketplace/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'marketplace/tomorrow-night.css' %}">
<script src="{% static 'marketplace/highlight.pack.js' %}"></script>
<script type="text/javascript">
    hljs.initHighlightingOnLoad();
</script>
{% endblock head %}

{% block content %}
<h1>{{ file_object.model.name }} - {{ file_object.name }}</h1>

{% if file_content %}
<pre>
    <code>{{ file_content }}</code>
</pre>
{% else %}
<p>
    File preview not available.
</p>
{% endif %}

<a href="{% url 'detail' model_id=file_object.model.id %}" class="btn btn-default">Back to Model</a>
<a class="btn btn-primary" href="{{ file_object.model_file.url }}" target="_blank">Download</a>

{% endblock content %}
