body {
    padding-top: 65px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.btn-edit {
    margin: 2px 0 2px 0;
}

.model-name {
    font-size: 18pt;
    min-width: 150px;
}

.pagination-container {
    text-align: center;
    padding: 5px;
}

.pagination-container < div {
    display: inline-block;
}

.comment {
    margin: 10px;
}

.comment .detail-container {
    text-align: right;
    padding-bottom: 10px;
}

.comment .time {
    display: inline-block;
}

.comment .user {
    float: left;
    font-weight: bold;
}

.comment .actions {
    text-align: right;
}

#comment-form div textarea {
    max-height: 110px;
}
